@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif; /* Use DM Sans as the default */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif; /* Use Inter for headings */
}

.custom-gradient {
  background: 
    linear-gradient(0deg, #FF5029, #FF5029),
    linear-gradient(90deg, rgba(230, 184, 11, 0) 0%, #E6B80B 100%),
    linear-gradient(180deg, rgba(108, 108, 108, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
}